<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/UserProfile.css">
<title>UserProfile</title>
</head>

<body>

<header>
  <img src="/images/EATLogo.png" alt="EAT Logo" class="LogoInHeader"/>

  <nav>
    <a href="/UserProfile">Profile</a>
    <a href="/dining">Home</a>
  </nav>
</header>

<div class="bannerLogIn"> </div>

<div class="forms-container">
    <form id="loginForm" class="user-form" >
        <div class="left">
            <h2>Welcome back, <span id="profileUsername1"></span></h2>
            <p style="font-size: 20px;">Username: <span id="profileUsername"></span></p>
            <p style="font-size: 20px;">Email: <span id="profileEmail"></span></p>
            <p style="font-size: 20px;">User ID: <span id="profileUserId"></span></p>        
        </div>      
    </form>  
    </form>   
  </div>
  <script>
    window.onload = function() {
      var name = localStorage.getItem('name');
      var email = localStorage.getItem('email');  
      var userId = localStorage.getItem('userId');  
      if (name) {
          document.getElementById('profileUsername').textContent = name;
          document.getElementById('profileUsername1').textContent = name;
      }

      if (email) {
          document.getElementById('profileEmail').textContent = email;
      }
      if (userId) {
          document.getElementById('profileUserId').textContent = userId;
      }
    };
  </script>
  
</body>
</html>